<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title>Page forms</title>
</head>
<body>
	<p><a href="/form1">Formulaire 1</a></p>
	<p><a href="/form2">Formulaire 2</a></p>
	<p><a href="/form3">Formulaire 3</a></p>

</body>
</html>

